<script>
    document.addEventListener("DOMContentLoaded", function() {
        // log a message to the console
        // console.log("The document is ready!");

        // get the div element with the class "container"
        // var container = document.querySelector(".container typeset");
        var container = document.getElementsByClassName("container typeset")[0];
    
        // change the text inside the p tag to white
        container.querySelector("p").style.color = "white";
        container.querySelector("p").style.textShadow = "2px 2px 7px black";

        // container.style.width = "100%";
        // container.style.height = "100%";
        // // container.style.position = "fixed";
        // container.style.backgroundColor = "rgba(0, 0, 0, 0.2)";
        // // var feature = document.getElementsByClassName("feature")[0];
        // // feature.style.backgroundColor = "rgba(0, 0, 0, 0.5)";

        // var feature = document.getElementsByClassName("feature")[0];
        // console.log(feature);

        // feature.style.backgroundColor = "rgba(0, 0, 0, 0.2)";
    });
</script>
